*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e1f0f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f9fcff;
    padding: 18px 36px;
}
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #274777;
    font-size: 1.3rem ;
    font-weight: 600;
}
nav ul li a:hover{
    border-bottom: 2px solid rgb(248, 97, 27);
    transition: all ;
}
.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
.btn{
    background: #e3f6fd;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    color: #383838;
}

.content{
    padding: 56px 64px;
    margin: 20px;
    display: flex;
    min-height: 70vh;
    align-items: center;
    
}
.leftcontent{
    height: 100vh;
    width: 50%;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    
    /* background-color: brown; */

}
h2{
    font-size: 2.5rem;
   font-weight: 700;
   margin-bottom: 8px;
    color: #274777;
}
p{
    margin-top: 8px;
    margin-bottom: 30px;
    color: #6a7d8d;
    font-size: 1rem;
    line-height: 1.5;
}

.btn1{
    background-color:rgb(7, 204, 253) ;
    height: 60px;
    width: 220px;
    border-radius: 16px;
    border: none;
    color:#fff;
    padding: 14px 32px;
}


.rightcontent{
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
   
}
img{
    width: auto;
    height: auto;
}